/* ---------------------------------------
    |   Search bar
    |------------------------------------- */
.search-bar {
    border: 2px solid orangered !important;
}

/* ---------------------------------------
    |   Product card
    |------------------------------------- */
.card-img-top {
    width: 100% !important;
    height: 220px;
    object-fit: contain;
    border-radius: 15%;
}

.card:hover {
    .card-img-top {
        scale: 110% !important;
        transition: 0.2s;
    }
    background-color: rgb(255, 226, 216) !important;
    color: black;
    transition: 0.3s;
}

.btn-view {
    width: 90% !important;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid orangered;
    color: orangered;
}

.product-name {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}