* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: rgb(255, 224, 213);
}

/* -------------------------------------------
    |   Login form
    |----------------------------------------- */
.wrapper {
    width: 525px;
    background: rgb(22, 21, 21);
    color: aliceblue;
    border-radius: 20px;
    padding: 14px 30px;
    text-align: center;
}

/* -------------------------------------------
    |   Login form header
    |----------------------------------------- */
.wrapper h1 {
    font-size: 38px;
}

/* -------------------------------------------
    |   Login form input fields
    |----------------------------------------- */
.wrapper .input-box {
    height: 50px;
    margin: 35px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255);
    border-radius: 50px;
    font-size: 18px;
    color: #fff;
    padding: 20px;
}

.input-box input::placeholder {
    color: #fff;
}

/* -------------------------------------------
    |   Fogot password link
    |----------------------------------------- */
.wrapper .remember-frogot {
    font-size: 15px;
    margin: 15px 0;
    text-align: left;
}

.remember-frogot label input {
    accent-color: white;
}

.remember-frogot a {
    color: #fff;
    text-decoration: none;
}

.remember-frogot a:hover {
    text-decoration: underline;
}

/* -------------------------------------------
    |   Login button
    |----------------------------------------- */
.wrapper .btn {
    width: 50%;
    height: 50px;
    background-color: orangered;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: #333;
    font-weight: 600;
    color: white;
    font-size: 18px;
}

.wrapper .btn:hover {
    border: 2px solid white;
    font-size: 19px;
}

/* -------------------------------------------
    |   Sign up section
    |----------------------------------------- */
.wrapper .register-link {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 10px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}